@import "tailwindcss";
@import "./font.css";
@theme {
    --color-gray1000: #2f2f2f;
    --color-gray900: #454545;
    --color-gray800: #595959;
    --color-gray700: #727272;
    --color-gray600: #979797;
    --color-gray500: #bfbfbf;
    --color-gray400: #d4d4d4;
    --color-gray300: #e4e4e4;
    --color-gray200: #efefef;
    --color-gray100: #f7f7f7;

    --color-main600: #d31d3e;
    --color-main500: #e02d4d;
    --color-main400: #ff395c;
    --color-main300: #ff869b;
    --color-main200: #fce8ec;
    --color-main100: #fdf5f7;

    --color-green400: #00c5a4;
    --color-blue400: #484efd;
    --color-orange400: #fe6f0f;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: var(--color-gray1000);
    cursor: pointer;
}
.swiper-button-prev-custom {
    left: 10px;
}

.swiper-button-next-custom {
    right: 10px;
}

.swiper-pagination {
    bottom: 2px !important;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.swiper-pagination-bullet {
    background: #e02d4d !important;
}
.custom-picker > div:last-child > div {
    display: none;
}

@layer utilities {
    .temaChoose {
        @apply absolute inset-0 rounded-xl transition-colors duration-200 ease-in-out hover:bg-black/30;
    }

    @keyframes bounceShort {
        0% {
            transform: scale(0.8) rotate(-15deg);
            opacity: 0;
        }
        50% {
            transform: scale(1.05) rotate(5deg);
            opacity: 1;
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }

    .animate-bounceShort {
        animation: bounceShort 0.6s ease-out;
    }

    @keyframes slideFadeDown {
        0% {
            transform: translateY(-20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .animate-slideFadeDown {
        animation: slideFadeDown 0.5s ease-out;
    }

    @keyframes bounceShort {
        0% {
            transform: scale(0.8) rotate(-15deg);
            opacity: 0;
        }
        50% {
            transform: scale(1.05) rotate(5deg);
            opacity: 1;
        }
        100% {
            transform: scale(1) rotate(0deg);
        }
    }

    .animate-bounceShort {
        animation: bounceShort 0.6s ease-out;
    }

    @keyframes rotateEmoji {
        0% {
            transform: rotate(-5deg);
        }
        50% {
            transform: rotate(5deg);
        }

        100% {
            transform: rotate(-5deg);
        }
    }

    .animate-rotate {
        animation: rotateEmoji 1s ease-in-out infinite;
    }
}
@layer components {
    .step-form {
        @apply relative h-full w-full p-5 pt-10;
    }
    .days-btn {
        @apply aspect-square w-[calc(20%-6.4px)] cursor-pointer rounded-[12px] border border-[var(--color-gray300)] duration-200 hover:border-[var(--color-gray500)];
    }
    .days-btn-selected {
        @apply border-[var(--color-gray1000)] bg-[var(--color-gray100)] hover:border-[var(--color-gray1000)];
    }
}

@keyframes modalFadeIn {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.animate-modalFadeIn {
    animation: modalFadeIn 0.2s ease-out both;
}

@keyframes modalFadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}
.animate-modalFadeOut {
    animation: modalFadeOut 0.2s ease-in both;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tabChoose {
    @apply hover:text-gray1000 transition-colors duration-200 ease-in-out;
    position: relative;
}

.tabChoose::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--color-gray1000);
    transform: scaleX(0);
    transform-origin: left; /* 왼쪽에서 시작 */
    transition: transform 0.25s ease-in-out;
}

.tabChoose-active::after {
    transform: scaleX(1); /* 선택되면 왼쪽부터 채워짐 */
}
