@import "tailwindcss";
@import "./font.css";
@theme {
    --color-gray1000: #2f2f2f;
    --color-gray900: #454545;
    --color-gray800: #595959;
    --color-gray700: #727272;
    --color-gray600: #979797;
    --color-gray500: #bfbfbf;
    --color-gray400: #d4d4d4;
    --color-gray300: #e4e4e4;
    --color-gray200: #efefef;
    --color-gray100: #f7f7f7;

    --color-main600: #d31d3e;
    --color-main500: #e02d4d;
    --color-main400: #ff395c;
    --color-main300: #ff869b;
    --color-main200: #fce8ec;
    --color-main100: #fdf5f7;

    --color-green400: #00c5a4;
    --color-blue400: #484efd;
    --color-orange400: #fe6f0f;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
